{% load static %}
<html>
    <head>
        <title>
            Register
        </title>
        <link rel="stylesheet" href="{% static 'navbar.css' %}">    
        <link rel="stylesheet" href="{% static 'register.css' %}"> 
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/logout">Log out</a>
            <a href="/creators">creators</a>
        </nav>
        <div class="card">
            {% if error == "" %}
            {% else %}
                <div class="danger">
                    <h2>
                        {{error}}
                    </h2>
                </div>
            {% endif %}
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <form method="POST" action="/sign_up">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>
                                First name 
                            </td>
                            <td>
                                <input type="text" value="{{firstName}}" name="first_name" placeholder="Enter your first name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Last name 
                            </td>
                            <td>
                                 <input type="text" value="{{lastName}}" name="last_name" placeholder="Enter your last name" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email 
                            </td>
                            <td>
                                 <input type="mail" value="{{email}}" name="email" placeholder="Enter your Email ID" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                               username 
                            </td>
                            <td>
                                <input type="text" value="{{username}}" name="username" placeholder="Enter your username" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Password 
                            </td>
                            <td>
                                <input type="password" name="password" placeholder="Enter your password" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                confirm password
                            </td>
                            <td>
                                <input type="password" name="confirm_password"  placeholder="Enter your password again" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Register" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>